/*
Orange color
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
html{
    background-color: #fff;
    color: rgb(66, 66, 66);
    font-size: 20px;
    font-weight: 200 ;
    font-family: 'Raleway', sans-serif;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0px 0px 0px;
}
.box{
    padding:1%;
}

/* ------------------------HEADER------------------------ */

header{ 
    background-image: linear-gradient(rgba(29, 29, 29, 0.712),rgba(29, 29, 29, 0.712)), url(../img/vegetable.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

h1{

    color: #fff;
    font-size: 250%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
}
h2{
    font-size: 180%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 110%;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-bottom: 15px;
}

h2::after{
    display: block;
    height: 2px;
    background-color:#e67e22;
    content: "";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px ;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited {
    background-color:#e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn:hover,
.btn:active{
    background-color: #cf6d17
} 
.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}
/* ----------------------- LOGO -----------------------*/

.logo {
    height: 75px;
    width: auto;
    float: left;
    margin-top: 30px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size:90%;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0px;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ----------------------- FEATURES -----------------------*/
.col{
    display: block;
    float: left;
}

.long-copy{
    line-height:145%;
    width: 70%;
    margin-left: 15%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
    padding-bottom: 30px;
}

/* ----------------------- ICON -----------------------*/
.icon-big{
    font-size:200%;
    display: block; 
    color: #e67e22;
    margin-bottom: 15px;
    padding: 15px 0px;
}

/* ----------------------- IMG -----------------------*/

.meals-showcase{
    list-style: none;
    width: 100%;
}
 
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
    opacity: 0.7;
    width: 100%;
    transform: scale(1.15);
    height: auto;
    transition: transform 0.5s;
}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}


/* ----------------------- HOW IT WORKS -----------------------*/

.section-steps{
    background-color: rgb(236, 236, 236);
}

.steps-box img{
    width: 40%;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding-right:3%;
    margin-top: 50px;
}

.btn-app img{
    height: 50px;
    width:auto;
    margin-right: 10px;
}

.works-step{
    margin-bottom: 50px;
}
.works-step:last-of-type{
    margin-bottom:80px;
}

.works-step p{
    padding-top: 5px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block; 
    border-radius: 50%;
    height:55px;
    width:55px;
    text-align: center;
    padding:5px;
    float: left;
    margin-right: 25px;;
    font-size:150%;
}

/* ----------------------- CITY -----------------------*/
.img-city{
    width:100%;
    height: auto;
}

.city-content h3{
    padding: 15px 0px;
    margin-bottom: 0px;
}

.city-content div i{
    float: left;
    padding: 0px 15px 0px 5px;
    color: #e67e22;
    padding-top: 2px;
}

.city-content div p{
    padding-bottom: 7px !important;
}

.city-content div p a:link,
.city-content div p a:visited{
    color: #e67e22;
}
